DOHM_BACKEND_URL=https://dohmapi-next.localtests.xyz/api
DOHM_RPC_URL=https://dohmapi-next.localtests.xyz/rpc
DOHM_ESPLORA_URL=https://dohmapi-next.localtests.xyz/esplora
DOHM_WALLET_FILE=wallet.json
DOHM_WALLET_PASSWORD=replace-with-a-strong-password
DOHM_FEE_RATE=2
DOHM_DEFAULT_BOND_SATS=10000
DOHM_DEFAULT_SWAP_AMOUNT=1000000
DOHM_SWAP_DIRECTION=dohm-to-frbtc
DOHM_DEFAULT_STAKE_AMOUNT=1000000
DOHM_DEFAULT_DOHM_LIQUIDITY=1000000
DOHM_DEFAULT_FRBTC_LIQUIDITY=1000000
DOHM_DEFAULT_REMOVE_LIQUIDITY=0
